<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2025 Gokul P. All rights reserved.</p>
            <div class="footer-social">
                <button class="social-btn" (click)="openSocial('linkedin')">
                    <i class="fa-brands fa-linkedin"></i>
                </button>
                <button class="social-btn" (click)="openSocial('github')">
                    <i class="fa-brands fa-github"></i>
                </button>
                <!-- <button class="social-btn" (click)="openSocial('twitter')">
                    <i class="fa-brands fa-x-twitter"></i>
                </button>
                <button class="social-btn" (click)="openSocial('instagram')">
                    <i class="fa-brands fa-instagram"></i>
                </button> -->
            </div>
        </div>
    </div>
</footer>